.app-container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: peachpuff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif  ;
}
